* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slot-machine__row {
    height: 100%;
    width: 300px;
    border: 1px solid black;
}

.slot-machine__col {
    position: relative;
    height: 33.3333%;
    border: 1px solid red;
}

.slot {
    position: absolute;
    width: 100%;
    height: 100%;
    background: beige;
}

#slot-machine {
    display: flex;
    overflow: hidden;
    margin: 2rem auto 1rem;
    width: 300px;
    height: 600px;
    border: 5px solid gold;
}

#control-board {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    border: 5px solid gold;
}

.spin-btn {
    padding: 0.7rem 2rem;
    font-size: 20px;
    border: 2px solid purple;
    border-radius: 10px;
    background: purple;
    cursor: pointer;
    color: white;
}

.spin-btn:hover,
.spin-btn:active {
    background: white;
    color: purple;
}

.spin-btn:focus {
    outline: none;
}