* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/******************/

.section {
    margin: 5rem 0;
}

.main-header {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: ;
}

.main-header__logo {
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    vertical-align: middle;
}

.main-header__logo i {
    color: #1844d4;
    margin-right: 1rem;
}

.main-header__logo span {
    color: #1844d4;
    font-weight: 400;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.form-group label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 2rem;
}

.form-group input,
.form-group textarea {
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #1844df;
    width: 100%;
    padding: 0.5rem;
}

select {
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #1844df;
    width: 90%;
    padding: 0.5rem;
}

.form-group option {
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #1844df;
    width: 100%;
    padding: 0.5rem;
}

.submit-btn {
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: 1px solid #1844d4;
    background: #1844d4;
    color: #fff;
    border-radius: 10px;
    font-size: 2rem;
    padding: 1rem 1rem;
    transition: color 0.2s, background-color 0.2s;
}

.submit-btn:hover,
.submit-btn:active {
    background: #fff;
    color: #1844d4;
}

.section__list-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.section__list-title i {
    color: #1844d4;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.section__list {
    display: flex;
}

.section__item {
    width: 30%;
    margin: 1rem;
}

.card {
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 30rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card__img {
    max-height: 60%;
    overflow: hidden;
}

.card__img img {
    border-radius: 10px;
    max-width: 100%;
    object-fit: contain;
}

.card__content {
    height: 35%;
    padding: 1rem;
}

.card__title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.card__paragraph {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.card__link {
    display: block;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: 1px solid #1844d4;
    background: #1844d4;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: color 0.2s, background-color 0.2s;
}

.card__link:hover,
.card__link:active {
    background: #fff;
    color: #1844d4;
}